
.box {
    flex-direction: column; 
    width: 100%;
    height: 900px;
    display: flex;
}

.box1 {
    width: 100%;
    height: 300px;
}

body{
    background-image: url('exemples images/fondbois.jpeg');
    background-size: 100%;
}

.boxheader{
    display:flex;
    background-color: rgba(1, 184, 16, 0.3);
    color: rgb(0,200,0);
    justify-content: center;
    flex-direction: column;
}

.subboxheader1{
    text-align: center;
    font-family: Calibri, Verdana, Arial, sans-serif;
}

.subboxheader2{
    font-size: 20px;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    word-spacing: 100px;
    text-decoration: none;
}

.box2 {
    width: 100%;
    height: 700px;
    display: flex;
}

.box3 {
    width: 50%;
    height: 600px;
}

.box4 {
    width: 50%;
    height: 600px;

}

.Titre {
    text-align: center;
    font-family: Calibri, Verdana, Arial, sans-serif;
    color: greenyellow;
    

}

.Texte {
    text-align: center;
    font-family: Calibri, Verdana, Arial, sans-serif;
    font-size: 1.5em;
    color: lightgreen;
}

.Texte2 {
    text-align: center;
    font-family: Calibri, Verdana, Arial, sans-serif;
    font-size: 2em;
    margin-top: 10%;
}

.Titre2 {
    text-align: center;
    font-family: Calibri, Verdana, Arial, sans-serif;
    font-size: 2em;
    margin-top: 10%;
    text-decoration: underline;
}

.boxfooter{
    display: flex;
    align-items: center;
    font-size: 30px;
    justify-content: center;
    justify-content: space-around;
    background-color: rgba(56, 28, 28, 0.3);
    color: lightgreen;
    font-family: Calibri, Verdana, Arial, sans-serif;

}

a{
    text-decoration: none;
    color: lightgreen;
    font-family: Calibri, Verdana, Arial, sans-serif;
}

h2{
    color: lightgreen;
    font-family: Calibri, Verdana, Arial, sans-serif;

}

h1{
    color: rgb(0,200,0)
}